nav {
  background-color: #444444;
  height: 13.89em;
  width: 100vw;
}

body {
  background-color: #d8d8d8;
  padding: 0;
  margin: 0;
}

section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  background-color: #efefef;
  height: 73.13em;
  width: 75vw;
}

footer {
  background-color: #222222;
  width: 75vw;
  height: 6.94em;
}
